server.port: 8080

spring:
  application:
    name: familie-ef-infotrygd
  jackson:
    serialization:
      indent_output: true
  datasource:
    url: ${APP_DATASOURCE_URL}
    username: ${APP_DATASOURCE_USERNAME}
    password: ${APP_DATASOURCE_PASSWORD}
    driver-class-name: ${APP_DATASOURCE_DRIVER}
    hikari:
      schema: ${APP_DEFAULT_SCHEMA}
  jpa:
    # For Oracle: org.hibernate.dialect.OracleDialect not database-platform: org.hibernate.dialect.Oracle10gDialect
    database-platform: ${APP_JPA_PLATFORM}
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: ${APP_DEFAULT_SCHEMA}
  sql:
    init:
      platform: ${APP_DATASOURCE_PLATFORM}

springdoc:
  packagesToScan: no.nav.familie.ef.infotrygd
  pathsToMatch: /v3/api-docs,/api/**
  swagger-ui:
    disable-swagger-default-url: true

management:
  endpoint:
    health:
      show-details: ALWAYS
  endpoints.web:
    exposure.include: info, health, metrics, prometheus
    base-path: "/internal"
    path-mapping:
      info: "status/isAlive"

#oidc...
http.proxy.parametername: notused

no.nav.security.jwt:
  expirythreshold: 60 #threshold in minutes until token expires
  issuer:
    azure:
      discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
      accepted_audience: ${AZURE_APP_CLIENT_ID}
      proxyurl: ${APP_AZURE_PROXY_URL}

vault:
  password: "/var/run/secrets/oracle/creds/password"
  username: "/var/run/secrets/oracle/creds/username"
