name: Build-Deploy-Prod
on:
  push:
    branches:
      - main

permissions:
  contents: "read"
  id-token: "write"

jobs:
  build:
    name: Bygg app/image, push til github, deploy til prod-fss og dev-fss
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Test and build
        env:
          GPR_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew wrapper --gradle-version=9.3.0
          ./gradlew test build --no-daemon
      - name: Generer SBOM
        run: ./gradlew cyclonedxBom
      - uses: nais/docker-build-push@791ebb6f74b82849c742a9bc9c97abe44c6c111f # ratchet:nais/docker-build-push@v0
        id: docker-push
        with:
          team: teamfamilie
          tag: latest
          byosbom: build/reports/cyclonedx-direct/bom.json
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
  deploy:
    name: Deploy to fss
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
      - name: Deploy til dev-fss
        uses: nais/deploy/actions/deploy@33c53f5b87d0746093a7a7ab4b9fa853e0e53bdc # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          RESOURCE: nais/dev-fss.yml
          VAR: image=${{ needs.build.outputs.image }}
      - name: Deploy til prod-fss
        uses: nais/deploy/actions/deploy@33c53f5b87d0746093a7a7ab4b9fa853e0e53bdc # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-fss
          RESOURCE: nais/prod-fss.yml
          VAR: image=${{ needs.build.outputs.image }}
      - name: Post deploy failures to Slack
        if: failure()
        run: |
          curl -X POST --data "{\"text\": \"Deploy av $GITHUB_REPOSITORY feilet - $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\"}" $WEBHOOK_URL
        env:
          MESSAGE: "Deploy av feilet"
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
