name: Build-Deploy-Preprod

on:
  workflow_dispatch:

permissions:
  contents: "read"
  id-token: "write"
jobs:
  build:
    name: Bygg og deploy til dev-fss
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # ratchet:actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Test and build
        env:
          GPR_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew wrapper --gradle-version=8.5
          ./gradlew test build --no-daemon
      - name: Generer SBOM
        run: ./gradlew cyclonedxBom
      - uses: nais/docker-build-push@791ebb6f74b82849c742a9bc9c97abe44c6c111f # ratchet:nais/docker-build-push@v0
        id: docker-push
        with:
          team: teamfamilie
          tag: latest
          byosbom: build/reports/cyclonedx-direct/bom.json
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
  deploy-dev:
    name: Deploy to dev-fss
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
      - name: Deploy til dev-fss
        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.DEPLOY_APIKEY }}
          CLUSTER: dev-fss
          RESOURCE: nais/dev-fss.yml
          VAR: image=${{ needs.build.outputs.image }}
